.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://www.uni-halle.de/im/1317045181_133_00_800.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.module {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
.module h2 {
    color: #393c3d;
    font-size: 24px;
}
.module p {
    font-size: 15px;
    margin-bottom: 13px;
}
.impressum h1 {
  color: grey;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.impressum ul {
  color: grey;
  font-size: 28px;
  font-family: 'Shift', sans-serif;
  font-weight: normal;
}
.links h1 {
  color: grey;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
.links ul{
  color: blue;
  font-size: 28px;
  font-family: 'Shift', sans-serif;
  font-weight: normal;
}
